<div id="login">
    <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="login-email" required ngModel>
        <br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Password" name="password" id="login-password" required ngModel>
        <br>
        <button type="submit" class="loginbtn">Login</button>
    </form>
</div>