#logo a {
    font-size: 60px;
    color: #faa00f;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    top: 50px;
    left: 50px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7EDE2;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li a {
    display: block;
    color: #84A59D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 250%;
    padding: 25px 75px;
}

li a:hover {
    opacity: 50%;
}