#nav-bar {
    background-color: #84a59d;
    padding-top: 14px;
    font-size: 24px;
    height: 60px;
}

a {
    text-decoration: none;
    position: relative;
    left: 100px;
    color: black;
    padding: 14px 16px;
}

#logout {
    position: relative;
    left: 200px;
}

li {
    display: inline;
}