.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
}

.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

textarea {
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 150px;
}

.task-submit {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.task-submit:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.task-submit:hover {
    background-color: #2c974b;
}

.task-submit:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.task-submit:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.task-submit:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button2 {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid black;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    transition: all 0.15s;
    position: relative;
    left: 45%;
    font-size: large;
}

.button2:hover {
    opacity: 50%;
}

.button2:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

@media all and (max-width:30em) {
    .button2 {
        display: block;
        margin: 0.4em auto;
    }
}