<h2>Registered Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Email </th>
            <th> Username </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{user.email}} </td>
            <td> {{user.username}} </td>
            <td>
                <button class="btn btn-outline-primary" (click)="updateUser(user.id)">Update</button>
                <button class="btn btn-outline-danger" (click)="deleteUser(user.id)">Delete</button>
                <button class="btn btn-outline-secondary" (click)="userDetails(user.id)">View</button>
            </td>
        </tr>
    </tbody>
</table>