<h2>Registered Users</h2>
<table class="user-table">
    <thead>
        <tr>
            <th> Email </th>
            <th> Username </th>
            <th> Role </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{user.email}} </td>
            <td> {{user.username}} </td>
            <td> {{user.role}} </td>
            <td>
                <button class="update" (click)="updateUser(user.id)">Update</button>
                <button class="delete" (click)="deleteUser(user.id)">Delete</button>
                <button class="view" (click)="userDetails(user.id)">View</button>
            </td>
        </tr>
    </tbody>
</table>