<div id="register">
    <form (ngSubmit)="userRegister()">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" [(ngModel)]="user.email">
        <br>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" [(ngModel)]="user.username">
        <br>
        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Password" name="password" id="password" [(ngModel)]="user.password">
        <br>
        <button type="submit" class="registerbtn">Register</button>
    </form>
</div>